# Auto detect text files and perform LF normalization
* text=auto
*.html linguist-vendored

# Apply override to all files and directories in the directory
man/** linguist-documentation
analysis_codes/** linguist-documentation
